@use '../../styles/colors.scss';

.dnd-area {
    &__horizontal-container {
        display: flex;
        flex-direction: row;
    }

    &__draggable {
        &:hover {
            outline: 4px solid colors.$active-item-outline;
            border-radius: 2px;
        }
    }
}
