@use '../../styles/colors.scss';

.icon-section {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 8px;
        width: 200px;
        padding: 15px;

        & > .material-icons {
            font-size: 72px;
        }
    }

    &__title {
        background-color: colors.$title-bg;
        font-size: 24px;
        font-weight: 700;
        width: 150px;
    }

    &__subtitle {
        font-size: 14px;
    }
}
