@use './styles/colors.scss';

body {
    background-color: colors.$bg-color;
}

.app {
    &__container {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    &__slide-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 750px;
        height: 400px;
        padding: 40px;
    }
}
